body {
    user-select:none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.TextBox {
    width: 200px;
    height: 30px;
}

.LoginButton {
    width: 170px;
    height: 45px;
    border-radius: 20px;
    border: 1px;
}
.LoginButton:hover {
    background-color: aliceblue;
}

.Copyright {
    margin:70px;
}
.Copyright:hover {
    color: rgb(171, 171, 171);
}